<!DOCTYPE html>
<!--
  /**
 *
 * @author      viresh kumar <virkumar@microsoft.com.com>
 * @designer		viresh kumar <virkumar@microsoft.com.com>
 * @developer   viresh kumar <virkumar@microsoft.com.com>
 * @version     1.0
 * @since       1.0
 */

  -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="." th:href="@{/}">

<link rel="icon" type="image/png" href="../static/favicon.png"
	th:href="@{favicon.png(t='${timestamp}')}">

<link href="../static/errors.css"
	th:href="@{errors.css(t='${timestamp}')}" rel="stylesheet">

<title th:utext="'Spline - '+${message}">Spline - error message</title>
</head>
<body>
	<div class="container">
		<div class="background"></div>
		<div class="foreground">
			<div>
				<h1 th:utext="${message}">Short error message</h1>
				<p th:if="${error_code}" class="error_code">
					<b>Error Code:</b> <span th:utext="${error_code}">5004367e-b78e-4a30-92d2-b9450a0e6262</span>
				</p>
			</div>
		</div>
	</div>
	<span class="version small text-muted">DL-by-virkumar@microsoft.com
		v${project.version}</span>
</body>
</html>