<!--
/**
 *
 * @author      viresh kumar <virkumar@microsoft.com.com>
 * @designer	viresh kumar <virkumar@microsoft.com.com>
 * @developer   viresh kumar <virkumar@microsoft.com.com>
 * @version     1.0
 * @since       1.0
 */

  -->

<tree-root #tree [nodes]="attrTree" [options]="treeOptions" (initialized)="onTreeInit()">
    <ng-template #treeNodeTemplate let-node>
        <div>
            <span class="fld-name">{{ node.data.name }}</span>
            <div class="fld-type">
                <span>:</span>
                <data-type-view [node]="node">
                </data-type-view>
            </div>
        </div>
    </ng-template>
</tree-root>
